{% extends 'base.html.twig' %}

{% block title %}Nos projets{% endblock %}

{% block body %}
    <h1>Liste des projets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Project</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.projectTitle }}</td>
                <td>{{ project.ProjectDetails }}</td>
                <td>
                    <a href="{{ path('app_admin_project_show', {'id': project.id}) }}">Voir</a>
                    <a href="{{ path('app_admin_project_edit', {'id': project.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">La liste est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_project_new') }}">Creer un nouveau projet</a>
{% endblock %}
